@import '../../lib/scss/colors';
@import '../../lib/scss/mixins';
@import '../../lib/scss/media';

.header {
  padding: 3.3rem 0;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;

  @include mobile {
    position: relative;
  }

  @include desktop {
    padding: 5.7rem 0 9.8rem;
  }
}

@include mobile {
  .logo {
    width: 159px;
  }
}

.nav {
  @include mobile {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 5.1rem;
    margin-left: 2rem;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    &::before {
      width: 55px;
      height: 51px;
      position: absolute;
      top: 16px;
      content: '';
      left: 17.9rem;
      z-index: 1;
      background-image:
        linear-gradient(
          to left,
          rgba(255, 255, 255, 0),
          $white
        );
    }

    &::after {
      width: 55px;
      height: 51px;
      position: absolute;
      top: 16px;
      content: '';
      right: 0;
      background-image:
        linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          $white
        );
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    @include mobile {
      white-space: nowrap;
      display: inline-block;
      padding-right: 5rem;
    }

    > li {
      display: inline-block;
      margin-right: 4.5rem;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $silverChalice;
        position: relative;
        text-decoration: none;
        font-size: 1.6rem;
        font-stretch: condensed;
        letter-spacing: 0.9px;

        @include transition(color 200ms linear);

        &::before {
          content: '';
          width: 0;
          height: 3px;
          background-color: $spotlight;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          bottom: -1px;

          @include transition(all 200ms ease-out);

          @include desktop {
            height: 2px;
          }
        }

        &:hover,
        &.active {
          color: $bigStone;

          &::before {
            width: 51px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
