@import '../../lib/scss/colors';
@import '../../lib/scss/mixins';
@import '../../lib/scss/media';

@lost flexbox flex;

%size {
  @include desktop {
    lost-column: 10/12;
  }
}

%dotSize {
  width: 44px;
  height: 44px;
}

$boxShadowPosition: -4px 4px 13px 0;

.image {
  @include mobile {
    width: 100%;
  }

  @include desktop {
    margin-top: -17rem;
  }
}

.description {
  @extend %size;

  @include desktop {
    margin-bottom: 10rem;
  }
}

.options {
  @extend %size;

  display: flex;
  justify-content: space-between;

  @include mobile {
    margin-top: 6rem;
  }

  > li {
    @extend %dotSize;

    border: solid 11.2px rgba(112, 112, 112, 0.09);
    box-shadow: $boxShadowPosition rgba(0, 0, 0, 0);
    border-radius: 100%;
    background: $white;
    cursor: pointer;

    @include transition(all 200ms linear);

    &:hover {
      border-color: rgba(112, 112, 112, 0.2);
    }

    &.active {
      border-color: $oxfordBlue;
      box-shadow: $boxShadowPosition rgba(0, 0, 0, 0.32);
      background: $oxfordBlue;
    }

    > img {
      @extend %dotSize;
    }
  }
}

@include mobile {
  .carInfo {
    text-align: center;
  }
}

.colorInfo {
  font-size: 2.2rem;
  color: $bigStone;
  margin-bottom: 1.2rem;
}

.extraPrice {
  font-size: 2.2rem;
  color: $spotlight;
}
