@import '../../lib/scss/colors';
@import '../../lib/scss/patterns';
@import '../../lib/scss/media';

@include mobile {
  .wrapperImage {
    text-align: center;
  }

  .image {
    width: calc(100% - 2rem);
    margin: 2rem 0 8rem;
  }
}

.modelType {
  font-weight: 400;

  span {
    color: $spotlight;
  }
}

.rowInfo {
  font-size: 1.8rem;
  margin-bottom: 3.4rem;

  &Big {
    font-size: 2.6rem;
  }

  @include desktop {
    font-size: 2.2rem;
    margin-bottom: 4rem;

    &Big {
      font-size: 3.2rem;
    }
  }
}

.spotlight {
  color: $spotlight;
  text-align: right;
}

.separator {
  margin-bottom: 3rem;

  @include desktop {
    margin-bottom: 4rem;
  }
}

.rebuild {
  @extend %actionLink;

  margin-top: 9.2rem;

  @include desktop {
    margin-top: 8.2rem;
    margin-bottom: 9.9rem;
  }
}
