@import '../../lib/scss/media';

.container {
  width: 100%;

  @include desktop {
    width: 1214px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@include desktop {
  .withGrid {
    width: auto;
    lost-center: 1214px;
  }
}
