@import '../../lib/scss/colors';
@import '../../lib/scss/mixins';
@import '../../lib/scss/media';

.wrapper {
  @include mobileScroll;
}

.image {
  width: 168px;

  @include desktop {
    width: 225px;
  }

  opacity: 0.5;

  @include transition(all 200ms linear);
}

.options {
  lost-flex-container: row;
  width: 100%;
  margin-top: 6.1rem;

  @include mobile {
    flex-flow: row nowrap;
  }

  > li {
    text-align: center;
    cursor: pointer;

    @include mobile {
      margin-right: 4.4rem;

      &:last-child {
        margin-right: 0;
        padding-right: 2rem;
      }
    }

    &:hover {
      .image {
        opacity: 1;
      }
    }

    .wheelInfo {
      opacity: 0;
      visibility: hidden;

      @include transition(all 200ms linear);
    }

    .label {
      font-size: 1.8rem;
      color: $bigStone;
      margin-top: 2rem;
      margin-bottom: 1rem;

      @include desktop {
        font-size: 2.2rem;
      }
    }

    .extraPrice {
      color: $spotlight;

      @include mobile {
        font-size: 1.8rem;
      }
    }

    &.active {
      .image {
        @include transform(scale(1.1) translateY(-5px));

        opacity: 1;
      }

      .wheelInfo {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
