@import '../../lib/scss/colors';
@import '../../lib/scss/mixins';

.image {
  width: 225px;
  height: 188px;
  opacity: 0.5;

  @include transition(all 200ms linear);
}

.options {
  lost-flex-container: row;
  width: 100%;
  margin-top: 6.1rem;

  > li {
    text-align: center;
    cursor: pointer;

    &:hover {
      .image {
        opacity: 1;
      }
    }

    .wheelInfo {
      opacity: 0;
      visibility: hidden;

      @include transition(all 200ms linear);
    }

    .label {
      font-size: 2.2rem;
      color: $bigStone;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .extraPrice {
      color: $spotlight;
    }

    &.active {
      .image {
        @include transform(scale(1.1) translateY(-5px));

        opacity: 1;
      }

      .wheelInfo {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
