@import '../../lib/scss/colors';
@import '../../lib/scss/patterns';
@import '../../lib/scss/media';

.modelPresentation {
  position: relative;
  margin-top: 55px;

  @include mobile {
    width: 352px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    margin-left: 110px;
    margin-left: 42px;
  }
}

.preTitle {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1.18rem;
  color: $spotlight;
  display: inline-block;
}

.title {
  font-size: 9rem;
  font-weight: 300;
  letter-spacing: 0.75rem;
  color: $bigStone;
  margin: 0;
  text-transform: uppercase;
  margin-left: -5px;

  @include desktop {
    font-size: 15rem;
    letter-spacing: 1.25rem;
    margin-left: -9px;
  }

  span {
    color: $spotlight;
    margin-left: 1.8rem;
    font-weight: 500;
  }
}

.carImage {
  position: absolute;
  top: 84px;
  left: 0;

  @include mobile {
    width: 100%;
  }

  @include desktop {
    top: 130px;
    left: 190px;
  }
}

.begin {
  @extend %actionLink;

  margin-top: 13.5rem;

  @include desktop {
    margin-top: 18.5rem;
  }
}

.modelInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 6rem;

  @include mobile {
    padding: 0 1.6rem;
  }

  @include desktop {
    margin-top: 12.9rem;
  }
}

$lineWidthMobile: 88px;
$lineWidthDesktop: 107px;

.modelInfoBox {
  min-width: $lineWidthMobile;

  @include desktop {
    min-width: $lineWidthDesktop;
  }
}

.mainInfo {
  display: block;
  font-size: 3.2rem;
  font-weight: 500;
  color: $spotlight;

  @include desktop {
    font-size: 4.2rem;
  }

  small {
    font-size: 1.5rem;
  }
}

.complementInfo {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
  color: $bigStone;
  position: relative;
  padding-bottom: 8px;

  @include desktop {
    font-size: 1.8rem;
  }

  &::before {
    content: '';
    width: $lineWidthMobile;
    height: 2px;
    background-color: $spotlight;
    position: absolute;
    left: 0;
    bottom: 0;

    @include desktop {
      width: $lineWidthDesktop;
    }
  }
}
